.App {
  background-color: #20504F;
  color: white;
  padding: 15px;
  width: 100%;
  max-width: 680px;
  max-height: 500px;
  border: 10px solid white;
  box-sizing: border-box;
  position: relative;
  box-shadow: 5px 5px black;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.fondo {
  background: url("img/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}